{% extends "main/base.html" %}

{% block title %}About{% endblock %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'contact.css' %}">
{% endblock %}
{% block content %}
<form>      
    <input name="name" type="text" class="feedback-input" placeholder="Name" />   
    <input name="email" type="text" class="feedback-input" placeholder="Email" />
    <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
    <input type="submit" value="SUBMIT"/>
  </form>
  {% endblock %}