{% extends "main/base.html" %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'home.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
{% endblock %}
{% block content %}


<section class="intro-section">
  <img src="https://th.bing.com/th/id/OIG1._CmjqQWjxKGHU7Qdc.dq?pid=ImgGn " style="height: 500px; width: 500px; border-radius: 10px;" alt="Image description" class="intro-image" alt="">
  <div class="intro-text">
    <h1 class="intro-title">ابدء في جعل نظام الري الخاص بك اكثر ذكاء</h1>
    <p>تٌربة هو نظام ري ذكي يساعدك على ري نباتاتك في الوقت المناسب وبالكمية المناسبة.</p>
  </div>
</section>


<h2 class="why-torbah">لماذا تٌربة؟</h2>

<div class="container">
  <div class="card">
    <div class="imgBx">
      <img src="https://images.pexels.com/photos/70862/pexels-photo-70862.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
    </div>
    <div class="content">
      <div class="contentBx">
        <h3>زيادة المحصول الزراعي<br><span</span></h3>
      </div>
      <p></p>
      <!-- <ul class="sci">
        <li style="--i:1"><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li style="--i:2"><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li style="--i:3"><a href="#"><i class="fab fa-instagram"></i></a></li>
      </ul> -->

    </div>
  </div>

  <div class="card">
    <div class="imgBx">
      <img src="https://th.bing.com/th/id/OIG2.GOV075Bbx73HHu8xs4y7?pid=ImgGn" style="height: 305px; width: 305px;" alt="">
    </div>
    <div class="content">
      <div class="contentBx">
        <h3>تقليل التكاليف المالية والبشرية<br><span></span></h3>
      </div>

      <!-- <ul class="sci">
        <li style="--i:1"><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li style="--i:2"><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li style="--i:3"><a href="#"><i class="fab fa-instagram"></i></a></li>
      </ul> -->

    </div>
  </div>

  <div class="card">
    <div class="imgBx">
      <img src="https://th.bing.com/th/id/OIG2.zA0Z4lLrHJk8gjexxMv4?w=1024&h=1024&rs=1&pid=ImgDetMain" style="height: 305px; width: 305px;" alt="">
    </div>
    <div class="content">
      <div class="contentBx">
        <h3>مراقبة المزرعة بشكل ذكي<br><span></span></h3>
      </div>

      <!-- <ul class="sci">
        <li style="--i:1"><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li style="--i:2"><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li style="--i:3"><a href="#"><i class="fab fa-instagram"></i></a></li>
      </ul> -->

    </div>
  </div>

</div>


  

  <section class="hero-section">
    <img src="https://th.bing.com/th/id/OIG3.XElGfpz.Oj3CbwcVBzd7?pid=ImgGn" style="height: 1100px; width: 1100px; display: block; margin-left: auto; margin-right: auto;" alt="Descriptive text for the image" class="hero-image">
    <div class="hero-content">
      <h1>Welcome to Torbah</h1>
      <p>Smart Irrigation System for a Greener Future</p>
      <button class="hero-button">Learn More</button>
    </div>
  </section>
  
{% endblock %}